/**/.idea/*
/**/.vscode/*
/**/[Bb]in/
/**/[Oo]bj/
/**/[Tt]emp/

/*Unity/[Ll]ibrary/
/*Unity/[Ll]ogs
/*Unity/*.csproj
/*Unity/*.sln
*.user

!/PhotonRealtimePlugin/.run/


/build_ios/
/build_android/
/[Bb]uild/

*.pdb
*.pdb.meta
!quantum.code.pdb

/*SymLink/
!/*SymLink/*.bat

*.log
*.log.meta

/**/~Save/


# Admin server
/*Admin/.idea/
/*Admin/*.iml
/*Admin/.gradle/
/*Admin/build/
